.filter-input-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 12px;
  span {
    padding: 4px;
    border-radius: 4px;
    margin-right: 12px;
    background-color: steelblue;
    color: white;
  }
}