.home-page-podcast-container {
  display: flex;
  flex-direction: column;

  .title-container {
    margin: 24px;
    width: 100%;
    border-bottom: 1px solid #f3f3f3;
    h2 {
      color: steelblue;
    }
  }
}